<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiBanHang.Properties.Settings.QuanLiDoChoiConnectionString"
            connectionString="Data Source=LAPTOP-G77V1054\DANGHUY;Initial Catalog=QuanLiDoChoi;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>